@media (max-width: 480px) {
    .section-about .container h2{
        font-size: 2rem;
    }

    section.section-team .container h2{
        font-size: 2rem;
    }

    section.section-services .container h2{
        font-size: 2rem;
    }

    .container-section h2{
        font-size: 2rem;
    }

}

@media only screen and (max-width: 767px) {
    /* Estilos para dispositivos móveis */
    .nav-menu{
        display: none;
    }

    .mobile-menu{
        display: block;
    }

    .section-main{
        background-size: cover;
        background-position: 25%;
        height: 100vh;
    }

    .section-main .container{
        justify-content: center;
        padding-top: 0px;

    }

    .section-main .container .container-section{
        width: 100%;
        font-size: 1.5rem;
        text-align: left;
        font-weight: 800;
    }

    .logo-mobile-nav{
        width: 95%;
        height: 100px;
        position: absolute;
        bottom: 100px;
        display: flex;
        justify-content: center;
    }

    .cards-about {
        flex-direction: column;
        justify-content: flex-start;
    }

    .cards-about .card{
        width: 100%;
        margin-bottom: 15px;
    }

    .team-member{
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
    }

    .member-container{
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .member-thumb{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }

    .member-thumb img{
        width: 50%;
    }

    .member-container span{
        font-size: 1.5rem;
        margin-bottom: 25px;
    }

    footer .developer img{
        width: 40%;
    }

    div.cards-services{
        flex-direction: column;
    }

    div.cards-services .card{
        width: 100%;
    }

    .section-about .container h2{
        font-size: 2.5rem;
    }

    section.section-team .container h2{
        font-size: 2.5rem;
    }

    section.section-services .container h2{
        font-size: 2.5rem;
    }

    section.section-contact .container{
        flex-direction: column;
    }

    .maps-area, .info-contact{
        width: 100%;
        margin-bottom: 55px;
    }

    section.section-services{
        padding: 120px 0;
    }

    div.area-post{
        flex-direction: column;
    }

    div.area-post .post{
        width: 100%;
        margin-bottom: 35px;
    }


}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Estilos para tablets e dispositivos com largura de tela intermediária */
}


@media only screen and (min-width: 992px) {
    /* Estilos para desktops e laptops */
}