@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800;900&display=swap');

:root {
    --cor-primaria: #0396A6;
    --cor-secundaria: #126973;
    --cor-textos-black: #262626;
    --cor-texto-white: #F2F2F2;
    --font-principal: 'Raleway', sans-serif;
}

@keyframes slide-in {
    0% {
        right: -100%;
    }

    100% {
        right: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 14px;
    font-family: var(--font-principal);
}

body {
    width: 100%;
    background-color: #fff;
    position: relative;
}

.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 25px;
    margin: auto;
}

nav {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 9999;
    transition: background-color 0.3s ease;
}

.nav-background{
    background-color: var(--cor-primaria);
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

}

nav .container .logo {
    width: 50%;
}

nav .container .logo img {
    width: 70px;
}

.nav-menu a {
    text-decoration: none;
    font-weight: 600;
    color: var(--cor-texto-white);
    margin-left: 15px;
}

.nav-menu a:hover {
    border-bottom: 2px solid var(--cor-primaria);
    padding-bottom: 10px;
    transition: 0.5s;
}

.mobile-menu{
    display: none;
}

.mobile-menu button {
    width: 35px;
    height: 35px;
    color: var(--cor-texto-white);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.301);
}

.mobile-nav {
    width: 100%;
    height: 100vh;
    background-color: var(--cor-texto-white);
    position: absolute;
    top: 0;
    padding: 25px;
    display: none;
    right: -100%;
    animation: slide-in 1s ease-in-out forwards;
}

.header-mobile-nav {
    width: 100%;
    padding: 0px 0px 15px 0px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.192);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-mobile-nav span {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--cor-primaria);
    display: block;
}

.header-mobile-nav button {
    width: 35px;
    height: 35px;
    color: var(--cor-secundaria);
    background-color: transparent;
    border: 1px solid var(--cor-secundaria);
}

.container-mobile-nav ul {
    list-style-type: none;
}

.container-mobile-nav a {
    text-decoration: none;
    color: var(--cor-textos-black);
}

.container-mobile-nav li {
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: 600;
}

.container-mobile-nav li::before {
    content: "↳";
    font-size: 1.5rem;
    margin-right: 15px;
    color: var(--cor-primaria);
}

.section-main {
    width: 100%;
    height: 100vh;
    background-image: url('../assets/section-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
}

.section-main::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: #ffffff;
    clip-path: polygon(0 80%, 100% 30%, 100% 100%, 0 100%);
}

.section-main .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-top: 200px;
}

.section-main .container .container-section {
    width: 40%;
    font-size: 1.2rem;
    font-family: var(--font-principal-);
    color: var(--cor-texto-white);
    font-weight: 400;
    text-align: right;
}

.section-about{
    width: 100%;
    padding: 80px 0;
}

.section-about .container{
    height: 100%;
}

.section-about .container h2{
    font-size: 3rem;
    text-align: center;
    color: var(--cor-primaria);
    margin-bottom: 25px;
}

.section-about .container p{
    font-size: 1.4rem;
    text-align: center;
    font-weight: 400;
    color: var(--cor-textos-black);
}

.cards-about {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.cards-about .card{
    width: 32%;
    background-color: var(--cor-texto-white);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 4px;
}

.cards-about .card .card-title{
    margin-bottom: 15px;
}

.cards-about .card .card-title i{
    font-size: 3rem;
    font-weight: 400;
    color: var(--cor-secundaria);
}

.cards-about .card .card-title span{
    color: var(--cor-secundaria);
    font-size: 2rem;
}

.cards-about .card span{
    color: var(--cor-textos-black);
    font-size: 1.2rem;
    display: block;
}